.tabular_ztree {
    padding: 0;
}

.tabular_ztree li a {
    width: 100%;
    vertical-align: middle;
    height: 30px;
}

/*行样式*/
.tabular_ztree li > a,
.tabular_ztree li a.curSelectedNode {
    padding-top: 0px;
    height: auto;
    cursor: default;
    opacity: 1;        
    border: none;
    border-top: 1px dotted #ccc;
}

.tabular_ztree li.tabular_head a,
.tabular_ztree li.tabular_head + li > a{
    border-top: none;
}

/*表头背景色*/
.tabular_ztree li.tabular_head a{
    background: #232323;
}

.tabular_ztree li.tabular_head div.tabular_col {        
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    text-align: center;
}

.tabular_ztree li ul {
    padding-left: 0px
}

.tabular_ztree div.tabular_col span {
    line-height: 30px;
    vertical-align: middle !important;
}

/*单元格文本*/
.tabular_ztree div.tabular_col {
    height: 100%;
    line-height: 30px;        
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #6c6c6c;
    font-family: "SimSun";
    font-size: 12px;
    overflow: hidden;
} 

.tabular_ztree div.tabular_col:first-child {
    text-align: left;
}